<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARqf8ON_FTxe8xaBxGLTeEAIuiNkog5hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1028511199584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blinking</string>
	<key>PROJECT_ID</key>
	<string>blink-59a7b</string>
	<key>STORAGE_BUCKET</key>
	<string>blink-59a7b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028511199584:ios:4b1933b2bf01415c4dee05</string>
</dict>
</plist>